.photo {
width: 20vw;
height: 35vh;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer {
display: flex;
  justify-content: center;
  border: 2px solid blue;
}
.logo {
    width: 10vw;
    height: 5vh;
}